@import url('https://fonts.googleapis.com/css2? family= Alegreya+SC:wght@400;500;700;800 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black:#000000;
    --white: #eeede7;
    --red: #c91818;
    --bold: 800;
    --medium: 700;
    --regular: 500;
    --thin: 400;
  }
  li{
      list-style: none;
  }
  .container-envios{
      height: 40px;
      width: 100%;
      background-color: var(--white);
      border-bottom: 1px solid black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .container-camion{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 3rem;
  }
  .item{
      display: flex;
     justify-content: center;
     align-items: center;
  }
span{
    font-weight: bold;
}
.p-envios{
    font-weight: var(--thin);
}
.p-envios2{
    font-weight: var(--thin);
    color: var(--red);
}
header{
    max-width: 600px;
    height: 400px;
    width: 100%;
    background-color: #c91818;
}
.container-navbar{
    width: 100%;
    height: 350px;
}
.ul-menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}
.contenedor-buscador{
    margin: 10px auto;
    padding: 10px 0;
    max-width: 20rem;
    width: 20rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-lupa{
    
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
input{
    border: solid 2px white;
    border-radius: 5px;
    width: 18rem;
    height: 2rem;
    font-size: 20px;
    color: white;
    background-color: #471b1b;
}

.tel-wap{
    margin: 30px auto;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.telefono{
    margin: 5px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
   
}
.wapp{
    margin: 5px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    
}
.telefono p{
    font-family: var(--bold);
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;
}
.telefono p:hover{
    color: white;
    transition: 1.5s;
}
.wapp p{
    font-family: var(--bold);
    font-size: 20px;
    margin-left: 10px;
    margin-top: 2px;  
}
.wapp p:hover{
    color: white;
    transition: 1.5s;
}
.container{
    max-width: 600px;
    width: 100%;
    height: 260px;
    margin-top: 30px;
    border-bottom: #000000 2px;
    
}
.slider{
    overflow: hidden;
}
.slider figure{
display:flex;
width: 500%;
position: relative;
left: 0;
animation: 20s slider infinite;
}
.slider figure img{
    width: 20%;
}
@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left:0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}
.container-article{
    max-width: 600px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-bottom: solid 1px gray;
}
.titulo-pago{
    font-family: var(--bold);
    font-size: 30px;
    color: #c91818;
    background-color: #000000;
    text-shadow: grey;
    padding: 3px 3px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.titulo-pago:hover{
    background-color: brown;
    color: #000000;
    transition: 2s;
    border-radius: 10px;
}
.container-iconos{
    max-width: 600px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 20px;
    
}

.iconos2{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.CONTAINER-1{
    max-width: 600px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.CONTAINER-2{
    max-width: 600px;
    width: 100%;
    height: 50px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3px;
}
.p-consultas{
    width: 240px;
    height: 100%;
    text-align: center;
    padding: 5px;
}
.env{
    font-family: var(--regular);
    font-size: 15px;
    color: #000000;
    text-shadow: #eeede7;
}
.con-rec{
    font-family: var(--regular);
    font-size: 15px;
    color: #000000;
    text-shadow: #eeede7;
}
.env:hover{
    color: #c91818;
    transition: 2s;
    font-size: 20px;
}
.con-rec:hover{
    color: #c91818;
    transition: 2s;
    font-size: 20px;
}